@import url('https://fonts.googleapis.com/css?family=PT+Sans');

$font-family: 'PT Sans', sans-serif;;
$font-size: 16px;
$color: #1abc9c;

@media screen and (max-width: 650px)
{
    .button
    {
        width: 80%;
      display: block;
    }

}

@mixin center-position ($direction, $content)
{
    display: flex;
    align-items: center;
    flex-direction: $direction;
    justify-content: $content;
}

*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body
{
    font-family: $font-family;
    font-size: $font-size;

    width: 100%;
    min-height: 100%;

    background-color: #fff;
}

.container
{
    margin-bottom: 2%;

    @include center-position(row, center);
}

.header
{
    width: 100%;
    height: 50px;
    margin-bottom: 5%;
    padding-left: 2em;

    border-bottom: 1px solid darkgray;

    @include center-position(row, left);
    &__logo
    {
        width: 30px;
        height: 30px;
        margin-right: 1em;

        -webkit-border-radius: 50px;
           -moz-border-radius: 50px;
                border-radius: 50px;  background: black;
    }

    &__title
    {
        font-weight: 700;
    }
}

.button
{
    font-weight: 700;

    min-width: 100px;
    height: 40px;
    min-height: 40px;

    cursor: pointer;
    text-transform: uppercase;

    color: #2efe2e;
    border: 1px solid #2efe2e;
    border-radius: 10px;
    outline: none;
    background-color: white;

    &:hover
    {
        opacity: .8;
    }

    &_red
    {
        font-size: $font-size / 1.5;

        color: red;
        border: none;
    }
}

.block
{
    width: 80%;
}

.image-block
{
    max-width: 100%;
    height: 5%;
    padding: 0 10px;

    border: 1px solid darkgray;

    @include center-position(row, center);
    &__title
    {
        font-weight: 700;

        flex: 1;
    }
}

.image
{
    max-width: 100%;
}

.wrapper
{
    width: 100%;

    @include center-position(row, center);
}

.popup
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: auto;

    background-color: rgba(0,0,0, .5);
}
.popup_inner
{
    position: absolute;
    top: 35%;
    right: 35%;
    bottom: 15%;
    left: 35%;

    margin: auto;
    padding-top: 2%;

    text-align: center;

    border: 1px solid darkgray;
    border-radius: 5px;
    background: white;

    @include center-position(column, center);
}

.button-wrapper
{
    width: 80%;

    @include center-position(row, space-between);
}

.input
{
    width: 80%;
    height: 15%;
    margin-bottom: 15px;
    padding: 0 10px;

    outline: none;
    &:first-child
    {
        margin-right: 15px;
    }
}
